parameters:
  level: 6
  paths:
    - src
  bootstrapFiles:
    - vendor/autoload.php
  excludePaths:
    - "*/Tests/*"
  ignoreErrors:


services:
  - class: Pantono\Hydrator\Rules\PhpStan\LocatorMethodExistsRule
    tags:
      - phpstan.rules.rule

